{{!-- 
search bar


profile cards
(image name link)


 --}}

 <h1>Profile page</h1>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search profiles.." aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>
 
 <div class="card" style="width: 18rem;">
  <img src="../public/img/profile-placeholder.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">About me..</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
</div>
