<div class="bg-light p-5 rounded text-center">
  <h1>
    Sociify
  </h1>
  <img
    src="/img/logo-sm.png"
    alt="Sociify logo"
    class="img-fluid m-auto d-block"
  />
  <p class="lead">
    Introducing Sociify, the newest social network for interacting with your friends.
  </p>
  <a class="btn btn-lg btn-dark" href="/register" role="button">
    Register
  </a>
</div>